.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.generated-icon {
  object-fit: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding-top: -12px;
  font-weight: 700;
  display: block;
  text-align: center;
}
