.cardcolor {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
}

.all {
  background-color: #fff;
}
.blue {
  background-color: #71deff;
}

.green {
  background-color: #36e9b6;
}

.yellow {
  background-color: #ffcf44;
}

.purple {
  background-color: #b15cff;
}

.red {
  background-color: #e74a4a;
}

.gray {
  background-color: gray;
}

.white {
  background-color: #fff;
}

