@using ContactCenter.Core.Models
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Customizar Contatos";
    Layout = "_Layout";
}

<div id="ContactFieldGrid" style="height: 89%; width:489px;margin-left: 16px;" class="ag-theme-alpine"></div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script src="~/assets-admin/scripts/ContactFields.js"></script>
