@{
}
<script src="~/assets/scripts/jquery-3.5.1.min.js"></script>
<link href="~/assets-admin/css/editmail.css" rel="stylesheet" type="text/css" />
<script src="https://editor.unlayer.com/embed.js"></script>
<script src="~/assets-admin/scripts/EditMail.js"></script>

<div id="edit-mail-header">
	<div id="mplogo">
	</div>
	<button id="btnSave">Salvar</button>
	<button id="btnClose">Fechar</button>
</div>
<div id="editor"></div>
