@{
}
<script src="~/assets/scripts/jquery-3.5.1.min.js"></script>
<link href="~/assets-admin/css/editlanding.css" rel="stylesheet" type="text/css" />
<script src="https://editor.unlayer.com/embed.js"></script>
<script src="~/assets/scripts/util.js?ver=1.5"></script>
<script src="~/assets-admin/scripts/EditLanding.js?ver=1.1"></script>


<div id="edit-landing-header">
	<div id="mplogo">
	</div>
	<button id="btnSave">Salvar</button>
	<button id="btnClose">Fechar</button>
</div>
<div id="editor"></div>
