#gridHeader{
    height: 50px
}
  #gridHeader button {
    margin-left: 5px;
    margin-top: 12px
  }
  #gridHeader mat-icon {
    position: relative;
    top: 7px;
    left: -6px;
  }

.filter-div{
    display:inline;
    margin-left: 50px;
}
